body{
    font-family: 'Finlandica', sans-serif;
    margin: 0px;   
}
h1 {
    font-size: 50px;
}
.red {
    color: skyblue;
}
.flex-area {
    display: flex;
    margin-bottom: 50px;
}
.half-width {
    width: 50%;
    padding-left: 20px;

}
.half-width img {
    width: 100%;
}
.fb-link {
    text-decoration: none;
    background-image: linear-gradient(black, navy);
    padding: 10px 40px;
    border-radius: 40px;
    color: whitesmoke;
    font-weight: 800;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2 {
    font-size: 40px;
}
.experienc-tab {
    display: flex;

}
.gunin{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: -15px 15px 25px 20px gray;
    padding: 40px;
    border-radius: 20px;
}
#kakashi{
    border-right: 5px solid olivedrab;
}
#jiraiya{
    border-right: 5px solid slateblue;
}
footer p{
    text-align: center;
}